<img src="https://i.imgur.com/GmEXPfd.png" style="width: 300px;"alt="">

<h2>BookIt Web Service</h2>

<p>This is the Dialogflow fulfillment web service required for custom intent handling.</p>
<p>All incoming fulfillment requests are being handled under the /fulfillment routes</p>
<p>Currently this is deployed to Heroku.</p>
